{% extends 'base.html.twig' %}

{% block title %}Hello ArticleAdminController!{% endblock %}

{% block body %}
        {% for message in app.flashes('success') %}
                {{ message }}
        {% endfor %}
        {{ form_start(articleForm, {'method': 'POST'}) }}
                <table>
                        <tr>
                        <td>Name:</td>
                        <td>
                                {{ form_widget(articleForm.name) }}
                                <br>
                                {{ form_errors(articleForm.name) }}
                        </td>
                        </tr>
                        <tr>
                        <td>Sort no:</td>
                        <td>
                                {{ form_widget(articleForm.sort_no) }}
                                <br>
                                {{ form_errors(articleForm.sort_no) }}
                        </td>
                        </tr>
                        <tr>
                        <td></td>
                        <td>{{ form_widget(articleForm.save) }}</td>
                        </tr>
                </table>
                {{ form_end(articleForm) }}
        
{% endblock %}

